@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.story {
  padding: 60px 20px;
  font-family: 'Poppins', sans-serif;
  color: #2c2c2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 100px;
}

.story-text {
  max-width: 800px;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.8;
}

/* Story-SVG Section */
.story-svg {
  background-color: #f0f8f3; 
  padding: 80px 0; 
  width: 100vw;
  margin-left: calc(-50vw + 50%); 
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.svg-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 60px;
  max-width: 1200px;
  width: 100%;
  padding: 0 30px; 
}

.svg-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  min-width: 200px;
}

.svg-item img {
  width: 200px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 10px;
}

.svg-item h1 {
  font-size: 40px;
  color: #333; 
  margin: 5px 0;
  margin-top: 10px;
}



.svg-item p {
  font-size: 20px;
  color: #4e4e4e;
  margin-top: 20px;
  font-family: monospace;
}



/* Made with Love Section */
.made {
  display: flex;
  align-items: flex-start; 
  justify-content: space-between;
  gap: 50px;
  padding: 60px 50px;
  background-color: #fdfdfd;
  flex-wrap: wrap; 
}

.made-text {
  flex: 1;
  max-width: 500px;
}

.made-text h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.made-text h1 span {
  color: orange; 
}

.made-text p {
  font-size: 17px;
  line-height: 1.6;
  color: #555;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.made-img {
  flex: 1;
  max-width: 500px;
  width: 100%;
  height: auto;
  object-fit: contain;
}



/* The Quest Section */

.quest {
  display: flex;
  background-color: #fffaf1; 
  justify-content: center;
  padding: 80px 10px 80px; 
  width: 100vw;
  margin-left: calc(-50vw + 50%); 
  display: flex;
  margin-top: 50px;
}

  .quest-story-img {
  position: relative;
  flex: 1;
  min-width: 300px;
  height: 100%;
}

.quest-story-img img {
  width: 50%;
  height: 80%;
  object-fit: contain;
  display: block;
  margin: 50px auto;
}

.quest-story-img span {
  position: absolute;
  top: 27%;
  left: 35%;
  width: 30%;
  font-size: 16px;
  font-weight: 900;
  color: #ff9800;
  line-height: 1.8;
  z-index: 3;
}

.quest-text {
  flex: 1;
  padding: 60px 40px;
  box-sizing: border-box;
}

.quest-text h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.quest-text h1 span {
  color: #ff9800; 
}

.quest-text p {
  font-size: 18px;
  color: #444;
  line-height: 1.9;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}



/*Vision Section*/
.vision {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 80px;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: #fff;
  gap: 90px;
}



.vision-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
 margin-bottom: 150px;
}

.vision img {
  width: 450px;
  height: auto;
  object-fit: contain;
  flex-shrink: 0;
}

.vision-text h1 {
  font-size: 36px;
  color: #000; 
  margin-bottom: 10px;
}

.vision-text h1 span {
  color: #ff9800; 
}

.vision-text p {
  font-size: 18px;
  color: #444;
  line-height: 1.6;
}

/*Values Section*/

.values {
  text-align: center;
   background-color: #fffaf1; 
  justify-content: center;
  padding: 90px 10px 50px; 
  width: 100vw;
  margin-left: calc(-50vw + 50%); 
  margin-top: 90px;
  
}

.values h1 {
  font-size: 36px;
  color: #000;
  margin-bottom: 20px;
}

.values h1 span {
  color: #ff9800; 
}

.values p {
  font-size: 19px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.values-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}


/*Space*/

.space {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 60px 40px;
  gap: 40px;
  flex-wrap: wrap;
  background-color: #fff;
}


.space-text {
  flex: 1;
  max-width: 600px;
}

.space-text h1 {
  font-size: 36px;
  color: #000;
  margin-bottom: 20px;
}

.space-text h1 span {
  color: #ff9800; 
}

.space-text p {
  font-size: 18px;
  line-height: 1.8;
  color: #555;
  margin-bottom: 30px;
  font-weight: 400;
  font-family:  'Poppins', sans-serif;
}

.space-img {
  flex: 1;
  max-width:  550px;
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
}


/*quality*/
.quality {
  position: relative;
  background: url('/src/assets/sofresh_bg.jpg') no-repeat center center/cover;
  padding: 100px 10px 100px;
  font-family: 'Poppins', sans-serif;
  width: 100vw;  
  margin-left: calc(50% - 50vw); 
  margin-right: calc(50% - 50vw); 
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  overflow: hidden;
  z-index: 1;
}

.quality::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
background-color: rgba(250, 143, 13, 0.7);
  z-index: 2;
}

.quality-container {
  position: relative;
  z-index: 3; 
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 900px; 
}

.quality-text {
  display: flex;
  flex-direction: column;       
  align-items: center;          
  justify-content: center;     
  text-align: center;
  height: 30vh;                
  padding: 20px;
  box-sizing: border-box;
}


.quality-text h2 {
  font-size: 2.5rem;
  align-items: center;
  color: white;
  margin-bottom: 30px; 
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.quality-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 10px; 
   font-weight: 600;
  font-family: 'Poppins', sans-serif;
}




