@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.blog{
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem 1px 10px 0; 
  font-family: 'Poppins', sans-serif;
  color: #042301;
}
.blog-image-wrapper img {
    margin-top: 90px;
  width: 100%;
  border-radius: 30px;
  padding: 10px 2px 9px 0;
    max-height: 500px; 

}

.blog-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.blog-title {
  background-color: #f5e6db;
  color: #8b5e3c;
  padding: 6px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
}

.blog-published {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.blog-published span {
  color: #28a745;
}


.blog-page h1 {
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0 2.5rem;
  color: #314b2e;
  margin-bottom: 2rem;
}

.blog-page p {
  line-height: 1.8;
  margin-bottom: 1.2rem;
  font-size: 16px;
}

.blog-page p strong {
  font-weight: 600;
  color: #042301;
}




@media (min-width: 1400px) {
  .blog {
    padding: 60px 200px;
  }

  .blog-page h1 {
    font-size: 42px;
  }

  .blog-page p {
    font-size: 20px;
  }
}


@media (min-width: 1200px) and (max-width: 1399px) {
  .blog {
    padding: 50px 150px;
  }

  .blog-page h1 {
    font-size: 38px;
  }

  .blog-page p {
    font-size: 19px;
  }
}


@media (min-width: 992px) and (max-width: 1199px) {
  .blog {
    padding: 40px 100px;
  }

  .blog-page h1 {
    font-size: 34px;
  }

  .blog-page p {
    font-size: 18px;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .blog {
    padding: 30px 60px;
  }

  .blog-page h1 {
    font-size: 30px;
  }

  .blog-page p {
    font-size: 17px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .blog {
    padding: 25px 30px;
  }

  .blog-page h1 {
    font-size: 26px;
  }

  .blog-page p {
    font-size: 16px;
  }
}


@media (max-width: 575px) {
  .blog {
    padding: 20px 15px;
  }

  .blog-page h1 {
    font-size: 22px;
  }

  .blog-page p {
    font-size: 15px;
  }
}
